@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/* Colores */
/* Font */
/* Margenes */
/* z index */
*,
::before,
::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 3rem 0 0 0;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: #F2E5E4;
  color: #262526;
  transition: 0.5s;
  display: flex;
  justify-content: center;
}

h1,
h2,
h3 {
  font-weight: 600;
  color: #F2B872;
  line-height: 1.5;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 75%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

button {
  padding: .5rem 1rem;
  background-color: #966BF2;
  color: #F2E5E4;
  font-size: 1.1rem;
  border: none;
  outline: none;
  cursor: pointer;
  transition: .3s;
  border-radius: 5px;
}

button:hover {
  background-color: #9EF277;
  color: #262526;
}

.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #966BF2;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
}

nav {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotype {
  font-size: 1.5em;
  font-weight: bold;
  color: white;
}

.logotype i {
  margin-left: .2rem;
  color: blueviolet;
}

.modal-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 1ms ease-in-out;
}

.modal {
  background: #fff;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 1s;
  transform: translateY(0%);
}

.close {
  cursor: pointer;
}

.modal-close {
  transform: translateY(-200%);
}

.modal-header {
  background-color: #9EF277;
  padding: 0.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.modal-header h2 {
  color: #262526;
}

.form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  margin: 1rem;
  min-width: 80%;
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.field {
  width: 100%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  margin-bottom: 22px;
  transition: .3s;
  border-radius: 5px;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.search {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search input {
  width: 70%;
  border: 2px solid rgba(0, 0, 0, 0);
  outline: none;
  background-color: rgba(230, 230, 230, 0.6);
  padding: 0.1rem 1rem;
  font-size: 1.1rem;
  transition: .3s;
  border-radius: 5px;
}
