.header {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: $first-color;
  position: fixed;
  top: 0;
  left: 0;
  z-index: $z-fixed;
}

nav {
  height: $header-height;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logotype{
  font-size: 1.5em;
  font-weight: bold;
  color: white;
  & i{
    margin-left: .2rem;
    color:$second-color;
  }

}


