.modal-container {
  opacity: 0;
  visibility: hidden;
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 1ms ease-in-out;
}

.modal {
  background: #fff;
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: transform 1s;
  border-radius: 1rem;
  transform: translateY(0%);
}

.close {
  color: $text-color;
  cursor: pointer;
  &:hover{
    color: $title-color;
  }

}

.modal-close {
  transform: translateY(-200%);
}

.modal-header {
  background-color: $third-color;
  padding: $mb-0-5;
  padding-left: $mb-1-5;
  padding-right: $mb-1-5;
  display: flex;
  justify-content: space-between;
  border-radius: 1rem 1rem 0 0;
  h2{
    color: $title-color;
  }

}
